@model IEnumerable<ObligatorioP2.Usuario>

@{
    ViewData["Title"] = "ListaClientes";
}
<body class="container-fluid bg-dark text-light">
    <h1>Lista de Clientes</h1>

    <table class="table table-striped text-light">
        <thead>
            <tr>
                <th>
                    ID USUARIO
                </th>
                <th>
                    NOMBRE
                </th>
                <th>
                    APELLIDO
                </th>
                <th>
                    EMAIL
                </th>
                <th>
                    FECHA DE NACIMIENTO
                </th>
                <th>
                    USUARIO
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ClientesList)
            {
                <tr>
                    <td>
                        @item.IdUsuario
                    </td>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Apellido
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.FechaNac
                    </td>
                    <td>
                        @item.NombreUsuario
                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>